body
{
    display: flex;
    font-family: 'Poppins', arial;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img
{
	width: 185pt;
	margin-top: 10%;
}

#dni
{
	width: 185pt;
	height: 30pt;
	text-align: center;
}

button
{
	width: 191pt;
	height: 30pt;
	font-family: 'Poppins', arial;
	border: transparent;
}